body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
    text-align: center;
}

.book, .album {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.book img, .album img {
    width: 150px;
    height: 200px;
    border: 1px solid #ccc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.home-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.home-button:hover {
    background-color: #777;
}

/* Общие стили для изображений */
.image-container {
    width: 200px; /* Ширина */
    height: 250px; /* Высота */
    object-fit: cover; /* Сохраняет пропорции и обрезает изображение */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор-указатель */
}

/* Стили для книг */
.book img, .album img, .gallery img {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 100%; /* Занимает всю высоту контейнера */
}

/* Стили для модального окна */
.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}